body{
  background-color: #1A252F;
}
h1 {
  font-size: 80px;
  font-weight: 1000;
  text-align: center;
  font-family: "sans-serif";
}
/* NAVBAR SECTION   */
.navbar {
  margin: 5px 5px;
  border-radius: 100px;
  background-color: #f0e0ff;
  margin-bottom: 10px; /* This margin will not affect positioning because of fixed position */
  position: fixed;
  top: 0; /* Ensure it stays at the top */
  overflow: hidden;
  right: 0;
  z-index: 1000; 
}
.navbar-nav {
  margin-left: 680px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
.navbar-brand {
  height: 60px;
  width: 60px;
  margin-left: 100px;
  border-radius: 20%;
}
.carousel-inner {
  margin-top: -120px;
  position: relative;
}

/* INTRODUCTION SECTION */
.container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.content {
  flex: 1;
  padding: 20px;
  max-width: 500px;
  box-sizing: border-box;
}

.content h1 {
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 20px;
}

.content button {
  margin-bottom: 20px;
}

.poster {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  box-sizing: border-box;
}

.poster img {
  height: 250px;
  width: 250px;
  border-radius: 20px;
}

button {
  display: block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

#joinBtn {
  background-color: #9968f3;
  color: white;
}

#joinBtn:hover {
  background-color: #5317d4;
}

#modeSwitchBtn {
  background-color: #555;
  color: white;
}

#modeSwitchBtn:hover {
  background-color: #444;
}

.dark-mode {
  background-color: #333;
  color: #f5f5f5;
}

.dark-mode button {
  background-color: #f5f5f5;
  color: #333;
}

.dark-mode #modeSwitchBtn {
  background-color: #444;
  color: white;
}

.dark-mode #modeSwitchBtn:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .poster,
  .content {
    max-width: 100%;
  }

  .content {
    margin-bottom: 20px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 10px;
  }

  .content h1 {
    font-size: 1.5em;
  }

  .content p {
    font-size: 0.9em;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .poster img {
    height: 200px;
    width: 200px;
  }
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 5em;
  color: #5317d4;
}


/*   ABOUT SECTION  */
#about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  flex-wrap: wrap;
}

.about-content {
  flex: 1;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
}

.about-content h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.about-content p {
  margin-top: -90px;
  font-size: 1.2em;
  line-height: 1.6;
}

.about-image {
  flex: 1;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #9968f3;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #5317d4;
}

@media (max-width: 768px) {
  #about-section {
    flex-direction: column;
    text-align: center;
  }

  .about-content,
  .about-image {
    max-width: 50%;
    padding: 10px;
  }

  .about-content h1 {
    font-size: 2em;
  }

  .about-content p {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  #about-section {
    padding: 20px;
  }

  
  .about-content,
  .about-image {
    max-width: 50%;
    padding: 10px;
  }

  .about-content p {
    margin-top: 0;
    font-size: 0.9em;
  }

  .about-content h1 {
    font-size: 1.5em;
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 5em;
  color: #5317d4;
}

/* OUR TEAM */

* {
  font-family: Nunito, sans-serif;
}

.text-blk  name{
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;

}

.responsive-cell-block {
  min-height: 75px;
}

.responsive-container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: space-evenly;
}

.outer-container {
  padding-top: 10px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
  background-color: rgb(244, 252, 255);
}

.inner-container {
  max-width: 1320px;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
}

.section-head-text {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 35px;
  font-weight: 700;
  line-height: 48px;
  color: #5317d4;
  margin: 0 0 10px 0;
}

.section-subhead-text {
  font-size: 25px;
  color: rgb(153, 153, 153);
  line-height: 35px;
  max-width: 470px;
  text-align: center;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.img-wrapper {
  width: 100%;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-media-links {
  width: 125px;
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 25px;
  font-weight: 700;
  color: rgb(102, 102, 102);
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.position {
  font-size: 25px;
  font-weight: 700;
  color: #5317d4;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 50px;
  margin-left: 0px;
}

.team-img {
  width: 60%;
  height: 60%;
  border-radius: 100%;
  margin-left: 75px;
}

.team-card-container {
  width: 280px;
  margin: 0 0 40px 0;
}

@media (max-width: 500px) {
  .outer-container {
    padding: 10px 20px 10px 20px;
  }

  .section-head-text {
    text-align: center;
  }
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}
/* FORUMS SECTION */
#forums-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 30px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px; /* Added padding to maintain space between the forums */
}

.forum {
  margin: 0 10px; /* Adjusted margin to create space between forums */
  background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow border */
  padding: 20px;
  max-width: 300px;
  width: 100%;
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

.join-btn {
  background-color: #9968f3;
  color: white;
  align-items: center;
  margin-left: 40px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.join-btn:hover {
  background-color: #5317d4;
}

@media (max-width: 768px) {
  #forums-container {
    flex-direction: column;
    align-items: center;
  }
  
  .forum {
    width: calc(100% - 20px); /* Ensure full width on smaller screens */
    margin: 10px 0; /* Adjust margin for smaller screens */
  }
}
  
/* RESOURCE SECTION */
#resources-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
 margin-top: 30px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.resource {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  max-width: 300px;
  text-align: center;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

.btn {
  background-color: #9968f3;
  color: white;
  align-items: center;
  margin-left: 40px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #5317d4;
}


/*     CONTACT US SECTION    */
#contact-section {
  padding: 50px 20px;
  text-align: center;
  margin: 20px auto;
  background-color: #f0e0ff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
}

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #9968f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #5317d4;
}

@media (max-width: 768px) {
  #contact-section {
    padding: 30px 15px;
  }

  .form-group {
    margin-bottom: 15px;
  }

  button {
    padding: 10px 15px;
  }
}

@media (max-width: 480px) {
  #contact-section {
    padding: 20px 10px;
  }

  .form-group {
    margin-bottom: 10px;
  }

  label {
    font-size: 0.9em;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    padding: 8px;
  }

  button {
    padding: 8px 10px;
    font-size: 14px;
  }
}

/* Footer Section */

footer {
  background-color: #2C3E50;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 10px;
}

.footer-section h3 {
  color: #f31919;
  margin-bottom: 10px;
}

.footer-section p, .footer-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #5317d4;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-links a img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s;
}

.social-links a img:hover {
  transform: scale(1.2);
}

.footer-bottom {
  background-color: #1A252F;
  padding: 10px 0;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-section {
      margin: 20px 0;
  }
}
